textColor1 = #ffffff
textColor2 = #ababab
textColor3 = #888888
textColor4 = #737373
textColor5 = #656565
textColorBlue = #7877B1

graphColor1 = #00FFD1
graphColor2 = #DA0000
graphColor3 = #FAFF02
graphColor4 = #3F52FF

bgColor = #000000
bgColor1 = #50E3C2
bgColor2 = #FF3F3F
bgColor3 = #70B2FF
bgColor4 = #F5A623

shadowColor1 = #FFFEFEEE
shadowColor2 = #FFFEFE88
shadowColor3 = #FFFEFE28

shadowDarkColor1 = #000000
shadowDarkColor2 = #00000099
shadowDarkColor3 = #00000066

radiusXL = 23px
radiusL = 15px
radiusM = 9px
radiusS = 5px

mobile = unquote('max-width: 700px')
